#cols {
    display: flex;
}

.col {
    width: 33.33%;
    height: 850px;
    text-align: center;
}

.completed{
    text-decoration: line-through;
}

li{
    list-style-type: none;
}

.font{
    font-size: 7pt;
    color: rgba(0, 0, 0, 0.75);
}